<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Stefan's Music Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<header>
    <h1>Welcome to My Music Store</h1>
</header>
<main>
    <h2>Choose a song to add an artist:</h2>
    <form th:action="@{'/artist-form'}" th:method="POST">
        <th:block th:each="song : ${songs}">
            <label>
                <input type="radio" name="selectedSong" th:value="${song.getTrackId()}" required>
                Title: <span th:text="${song.getTitle()}"></span>
                Genre: <span th:text="${song.getGenre()}"></span>
                Release Year: <span th:text="${song.getReleaseYear()}"></span>
                Album : <span th:text="${song.getAlbum().getName()}"></span>
            </label>
            <a class="btn btn-default" th:href="@{'/songs/edit-form/{id}' (id=${song.getId()})}">Edit</a>
            <a class="btn btn-default" th:href="@{'/songs/delete/{songId}' (songId=${song.getId()})}">Delete</a>
            <br>
        </th:block><br>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>

<!--    <h2>Add, edit or delete a song:</h2>-->
<!--    <th:block th:each="song : ${songs}">-->

<!--        Title: <span th:text="${song.getTitle()}"></span>-->
<!--        Genre: <span th:text="${song.getGenre()}"></span>-->
<!--        Release Year: <span th:text="${song.getReleaseYear()}"></span>-->
<!--        Album : <span th:text="${song.getAlbum().getName()}"></span>-->

<!--        <form th:action="@{'/songs/edit-form/{id}' (id=${song.getId()})}" th:method="GET" style="display: inline">-->
<!--            <button type="submit">Edit</button>-->
<!--        </form>-->

<!--        <form th:action="@{'/songs/delete/{id}' (id=${song.getId()})}" th:method="DELETE" style="display: inline">-->
<!--            <button type="submit">Delete</button>-->
<!--        </form>-->
<!--        <br>-->

<!--    </th:block><br>-->

    <form th:action="@{'songs/add-form'}" th:method="GET">
        <button type="submit" class="btn btn-default">Add New Song</button>
    </form>



</main>
</body>
</html>